<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="style.css">
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="script.js"></script>
  </head>

  <body  ng-app="myApp">
    <header>
      <div class="left">
        <img src="imgs/mad-lib-happy-face.png" height="101" width="101">
      </div>
      
      <div class="right">
        <img src="imgs/ng-mad-libs-logo.png" height="116" width="460" align="right">
        <h1>Automate This!</h1>
      </div>
    </header>
    
    <section id="fields">
      <h3>Provide the following words:</h3>
      <p>
      <input ng-model="maleName" placeholder="Male Name">
      <input ng-model="dirtyTask" placeholder="Dirty Task">
      <input ng-model="ob_celebrity" placeholder="Obnoxious celebrity">
      </p>
      <p>
      <input ng-model="jobTitle" placeholder="Job Title">
      <input ng-model="celebrity" placeholder="Celebrity">
      <input ng-model="number" placeholder="Huge Number">
      </p>
      <p>
      <input ng-model="task" placeholder="Tedious Task">
      <input ng-model="skill" placeholder="Useless Skill">
      <input ng-model="adjective" placeholder="Adjective">
      </p>
    </section>
    
    <section id="results" ng-controller="madLibs">
      <p>
        {{ maleName }} was a {{ jobTitle }} who loved technology.
        Although he loved parts of his job, he absolutely hated 
        {{ task }} and {{ dirtyTask }}.
        <br>
        So, {{ maleName }} met with
        his life mentor {{ celebrity }} who told him to learn how to {{ skill }}
        with Thinkful. Thinkful didn't offer a course on {{ skill }} so
        he studied programming instead. 
      </p><p>
        What a great decision! With his new skills, {{ maleName }} built
        a(n) {{ adjective }} robot named {{ ob_celebrity }} that not only
        loved {{ task }} but did it {{ number }} faster. 
      </p>
      </section>
    
  </body>

</html>