<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <link rel="stylesheet" href="style.css">
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.6/angular-messages.js"></script>
    <script src="script.js"></script>
  </head>

  <body ng-controller="madLibs">
    <header>
      <div class="left">
        <img src="imgs/mad-lib-happy-face.png" height="101" width="101">
      </div>
      
      <div class="right">
        <img src="imgs/ng-mad-libs-logo.png" height="116" width="460" align="right">
        <h1>Automate This!</h1>
      </div>
    </header>
    <div ng-switch="libs">
    <section id="fields">
      <h3>Provide the following words:</h3>
      <form name="libForm" novalidate >
      
      <input ng-model="maleName" placeholder="Male Name" name="malename" required ng-minlength="2">
        <div ng-if="libForm.$submitted&&libForm.malename.$error.required">
          <span class="error" ng-message="required">INPUT IS REQUIRED</span>
        </div>
        <div ng-if="libForm.$submitted&&libForm.malename.$error.minlength">
          <span class="error" ng-message="minlength">Input is too short</span>
        </div>
      <input ng-model="dirtyTask" placeholder="Dirty Task" name="dirtytask" required ng-minlength="4">
        <div ng-if="libForm.$submitted&&libForm.dirtytask.$error.required">
          <span class="error" ng-message="required">INPUT IS REQUIRED</span>
        </div>
        <div ng-if="libForm.$submitted&&libForm.dirtytask.$error.minlength">
          <span class="error" ng-message="minlength">Input is too short</span>
        </div>
      <input ng-model="ob_celebrity" placeholder="Obnoxious celebrity" name="obxcelebrity" required ng-minlength="2">
        <div ng-if="libForm.$submitted&&libForm.obxcelebrity.$error.required">
          <span class="error" ng-message="required">INPUT IS REQUIRED</span>
        </div>
        <div ng-if="libForm.$submitted&&libForm.obxcelebrity.$error.minlength">
          <span class="error" ng-message="minlength">Input is too short</span>
        </div>
      
      <input ng-model="jobTitle" placeholder="Job Title" name="jobtitle" required ng-minlength="2">
        <div ng-show="libForm.$submitted&&libForm.jobtitle.$error.required">
          <span class="error" ng-message="required">INPUT IS REQUIRED</span>
        </div>
        <div ng-show="libForm.$submitted&&libForm.jobtitle.$error.minlength">
          <span class="error" ng-message="minlength">Input is too short</span>
        </div>
      <input ng-model="celebrity" placeholder="Celebrity" name="celebrity" required ng-minlength="2">
        <div ng-show="libForm.$submitted&&libForm.celebrity.$error.required">
          <span class="error" ng-message="required">INPUT IS REQUIRED</span>
        </div>
        <div ng-show="libForm.$submitted&&libForm.celebrity.$error.minlength">
          <span class="error" ng-message="minlength">Input is too short</span>
        </div>
      <input type="number" ng-model="number" placeholder="Huge Number" name="lrgnumber" required ng-minlength="1" >
        <div ng-show="libForm.$submitted&&libForm.lrgnumber.$error.required">
          <span class="error" ng-message="required">INPUT IS REQUIRED</span>
        </div>
        <div ng-show="libForm.$submitted&&libForm.lrgnumber.$error.number">
          <span class="error" ng-message="minlength">Input numbers only!</span>
        </div>
      
      <input ng-model="task" placeholder="Tedious Task" name="task" required ng-minlength="2">
        <div ng-show="libForm.$submitted&&libForm.task.$error.required">
          <span class="error" ng-message="required">INPUT IS REQUIRED</span>
        </div>
        <div ng-show="libForm.$submitted&&libForm.task.$error.minlength">
          <span class="error" ng-message="minlength">Input is too short</span>
        </div>
      <input ng-model="skill" placeholder="Useless Skill" name="skill" required ng-minlength="2">
        <div ng-show="libForm.$submitted&&libForm.skill.$error.required">
          <span class="error" ng-message="required">INPUT IS REQUIRED</span>
        </div>
        <div ng-show="libForm.$submitted&&libForm.skill.$error.minlength">
          <span class="error" ng-message="minlength">Input is too short</span>
        </div>
      <input ng-model="adjective" placeholder="Adjective" name="adj" required ng-minlength="2">
        <div ng-show="libForm.$submitted&&libForm.adj.$error.required">
          <span class="error" ng-message="required">INPUT IS REQUIRED</span>
        </div>
        <div ng-show="libForm.$submitted&&libForm.adj.$error.minlength">
          <span class="error" ng-message="minlength">Input is too short</span>
        </div>
      <p>
        <input type="submit"  ng-click="libs='validated'" ng-disabled="libForm.$invalid"/>
      </p>
    </form>

    </section>
    <section id="results" ng-switch-when="validated" >
      <p>
        {{ maleName }} was a {{ jobTitle }} who loved technology.
        Although he loved parts of his job, he absolutely hated 
        {{ task }} and {{ dirtyTask }}.
        <br>
        So, {{ maleName }} met with
        his life mentor {{ celebrity }} who told him to learn how to {{ skill }}
        with Thinkful. Thinkful didn't offer a course on {{ skill }} so
        he studied programming instead. 
      </p><p>
        What a great decision! With his new skills, {{ maleName }} built
        a(n) {{ adjective }} robot named {{ ob_celebrity }} that not only
        loved {{ task }} but did it {{ number }} faster. 
      </p>
      </section>
    </div>
  </body>

</html>