body {
	width			: 800px;
    margin 			: 0 auto;
}
header {
	height 			: 180px;
}
.left {
	float 			: left;
}
.right {
	float 			: left;
	margin-left 	: 55px;
	text-align 		: center;
}
#fields,
#results {
	text-align 		: center;
	padding 		: 8px;
	border 			: thin solid lightgray;
	overflow: hidden;
}
input {
	display: block;
	margin: 10px auto;
}