<!doctype html>
<html ng-app="calcApp">
<head>
	<title>Waitstaff Calculator Project</title>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="calc">
<header>
	<h1> Waitstaff Calculator</h1>
</header>
<section id="nav">
	<ul>
		<li><a href="#/"> Home </a></li>
		<li> | </li>
		<li><a href="#/new-meal"> New Meal </a></li>
		<li> | </li>
		<li><a href="#/my-earnings"> My Earnings </a></li>
	</ul>
</section>
<div ng-view></div>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../controllers/main.js"></script>
</body>
</html>