<section id="new-meal">
	<form>
	<div class="col1">
		<div class="box">
		<h4>Enter the Meal Details</h4>
		<p>Enter the Meal Price: $<input type="number" name="mealprice" ng-model="mealPrice" required></p>
		<p>Tax Rate: %<input type="number" name="taxrate" ng-model="taxRate" required></p>
		<p>Tip Percentage: %<input type="number" name="tip" ng-model="tipPercent" required></p>
		<input type="hidden" ng-model="mealCount">
		<input type="submit" value="Submit" ng-click="update()">
		<input type="reset" value="Cancel">
		</div>
	</div>
	<div class="col1">
		<div class="box">
			<h4>Customer Charges</h4>
			<p>Subtotal: <span ng-bind="mealSubPrice | currency"></span></p>
			<p>Tax: <span ng-bind="taxTotal | currency"></span></p>
			<p>Tip: <span ng-bind="tipTotal | currency"></span></p>
			Total: <span ng-bind="mealTotal | currency"></span>
		</div>
	</div>
	</form>
</section>