<!-- City page code -->
<section id="country">
	<header>
		<h3>{{info.countryName}}</h3>
	</header>
	<div>
		<p>Population of Country : {{info.population}}</p>
		<p>Area : {{info.areaInSqKm}}</p>
		<p>Capital : {{ capital.name }}</p>
		<p>Capital Population : {{ capital.population }}</p>
	</div>
	<div><p>Neighbor(s): </p></div>
	<div ng-repeat="info in neighbors">
		<p><a ng-href="#/countries/:{{ info.countryCode }}">{{info.countryName}}</a></p>
	</div>
	<div id="visuals">
		<!-- MAP -->
		<img id='cImage' src="http://www.geonames.org/img/country/250/{{ info.countryCode }}.png" />
		
		<!-- FLAG -->
		<img id='cFlag' src="http://www.geonames.org/flags/x/{{ info.countryCode | lowercase }}.gif" />
	</div>
	
	<div id="nav-bottom">
		<ul>
			<li><button><a href="#/">Home</a></button></li>
			<li><button><a href="#/countries">Browse Countries</a></button></li>
		</ul>
	</div>
</section>