<!doctype html>
<html ng-app="ccApp">
<head>
	<title>Countries and Capitals</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<h4>Countries and Capitals</h4>
		<hr>
	</header>
	<div ng-view></div>
	<!-- SCRIPTS -->
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-route/angular-route.js"></script>
	<script src="../bower_components/angular-animate/angular-animate.js"></script>
	<script src="../controllers/ccApp.js"></script>
	<script src="../controllers/home.js"></script>
	<script src="../controllers/countries.js"></script>
	<script src="../controllers/country.js"></script>
</body>
</html>