<!doctype html>
<html ng-app="searchApp">

<head>
<title>Instagram Search using Angular</title>
<link rel="stylesheet" href="style.css">
<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
<script src="script.js"></script>

</head>

<body ng-controller="searchCtrlr">
	<section id="header">
		<img src="imgs/ng-instagram.png">
		<form ng-submit="searchTerm(tag)">
		<input ng-model="tag" placeholder="Enter search term here" required>
		<input type="submit" value="SEARCH">
	</form>
	</section>

	<section id="searching">
		<h3>Searching for {{ tag }}. Please wait ...</h3>
	</section>

	<section id="searchend">
		<h2>{{ results.length }} results found for {{ tag }}</h2>
		
		<div ng-repeat="item in results">
			
			<h3>{{ item.tags }}</h3>
		</div>
				
	</section>

</body>

</html>