<!doctype html>
<html ng-app="searchApp">

<head>
<title>Instagram Search using Angular</title>
<link rel="stylesheet" href="style.css">
<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
<script src="app/controller/searchApp.js"></script>

</head>

<body ng-controller="searchCtrlr">
	<section id="header">
		<img src="imgs/ng-instagram.png">
		<form name="searchForm" novalidate ng-submit="searchTerm(tag)">
		<input ng-model="tag" placeholder="Enter search term here" required>
		<input type="submit" value="SEARCH" ng-disabled="searchForm.$invalid" ng-click="search=!search">
	</form>
	</section>

	<section id="searching" ng-if="search">
		<h3>Searching for {{ tag }}. Please wait ...</h3>
	</section>

	<section id="searchend" ng-if="searchOver">
		<h2>{{ results.data.length }} results found for {{ tag }}</h2>
		<div ng-repeat="item in results.data" class="img">
			
			<a href="{{ item.images.thumbnail.url }}"><img ng-src="{{ item.images.thumbnail.url }}" /></a>
		</div>
				
	</section>

</body>

</html>