section {
	width: 500px;
	margin: 20px auto;
	text-align: center;
}

section#header img {
	display: block;
	margin: 20px auto;

}

section#searching {
	margin-top: 40px;
}

section#searchend {
	width: 800px;
	border: thin solid lightgray;
	overflow: hidden;
}

section#searchend h2 {
	margin-bottom: 20px;

}

.img {
	width: 200px;
	height: 200px;
	display: block;
	float: left;
}