<section id="home">
	<header>
		<h3>Intro</h3>
	</header>
		<p>Aenean vulputate sollicitudin tellus, a aliquet felis semper vitae. Curabitur consectetur accumsan feugiat. Pellentesque sodales tristique rhoncus. Morbi pharetra pulvinar orci euismod finibus. Donec facilisis libero felis, quis elementum justo tincidunt ac. Maecenas eget auctor turpis. In hac habitasse platea dictumst. Aenean eleifend risus id risus auctor maximus. In nisl sapien, auctor eget cursus id, eleifend at nibh. Nullam gravida, sapien a egestas bibendum, quam eros hendrerit sem, a finibus est purus quis lectus.</p>

		<p>Cras molestie malesuada dui, nec molestie massa semper nec. Aliquam ac nisl ac turpis mollis efficitur. Aliquam ut mi tincidunt, tempus mauris a, sodales justo. Vestibulum elementum aliquam leo, eget tincidunt orci euismod at. Etiam rutrum pretium viverra. Morbi quam ipsum, convallis a vulputate sed, consectetur non risus. Donec bibendum dolor sed urna fringilla luctus. Donec finibus tincidunt nisi sit amet porta. Mauris mattis commodo nisl quis tincidunt. Fusce malesuada tempor erat interdum aliquet. Mauris interdum, dolor et commodo convallis, erat nunc pellentesque dui, posuere volutpat ligula ex a sapien. Etiam cursus, velit ac ultrices consequat, lorem velit ultrices quam, accumsan egestas eros dui ut lectus. Ut ut molestie nunc, et sagittis tortor. Nam sed posuere lacus. Donec augue lacus, feugiat sit amet tellus quis, eleifend eleifend arcu.</p>
		<div id="nav-bottom">
			<ul>
				<button ><a href="#/countries">Browse Countries</a></button>
			</ul>
		</div>
	</section>